<div class="h-screen justify-center">
  <center class="mt-24 m-auto">
    <%= inline_svg 'emoji.svg' %>
    <div class=" tracking-widest mt-4">
      <span class="text-gray-500 text-6xl block"><span>Oups!</span></span>
      <span class="text-gray-500 text-xl block">Sorry, We couldn't find a recipe for that!</span>
      <span class="text-gray-500 text-xl">Tip: avoid hyphens and accents, if you can ;)</span>
    </div>
  </center>
</div>